VITE_SUPABASE_URL=https://xlyfhfzplzteywipkeap.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhseWZoZnpwbHp0ZXl3aXBrZWFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyODQ0NjksImV4cCI6MjA4OTg2MDQ2OX0.rRZXy2_SpL715BM-bPy9uzlF_5fSSWpvaZqnLf41BOE
ORANGE_CLIENT_ID=6O7kqvZ5Cf9A1Y4awpjTOKqh4iR7LAL0
ORANGE_CLIENT_SECRET=8qZOjZw7cPUKgLuzNZdHSPmKHMcpgfYIlfkpAiYfhGgm
ORANGE_SENDER=+225707047033
